@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'KarGugSu';
  src: url('/fonts/NanumKarGugSu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/nanum-gothic/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanSans';
  src: url('/fonts/Black_Han_Sans/BlackHanSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
}

.nanum-gothic {
  font-family: 'NanumGothic', sans-serif;
}

.nanum-square {
  font-family: 'NanumSquare', sans-serif;
}

.kargugsu {
  font-family: 'KarGugSu', sans-serif;
}

.hansans {
  font-family: 'HanSans', sans-serif;
}